<h2 class="text-4xl font-bold text-gray-900 mt-20">
    Ovládanie Svetiel
</h2>
<div class="border-4 border-dashed border-gray-200 rounded-lg h-96 p-6 my-9 h-auto inline-block min-w-full">
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                scope="col">
                                Room
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                                scope="col">
                                Owner
                            </th>
                            <th class="relative px-6 py-3" scope="col">
                                <span class="sr-only">Action</span>
                            </th>
                            <th class="relative px-6 py-3" scope="col">
                                <span class="sr-only">Action</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                        {% for light in devices['lights']
                        if light['type'] == "SmartLight"
                        %}

                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <p class="text-l text-gray-900 font-bold">{{ light['notes']['room'] }}
                                </p>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium">
                                <p class="text-sm text-gray-900">{{ light['notes']['owner'] }}
                                <p class="text-sm text-gray-900">
                            </td>

                            {% if light['notes']['owner'] == user or light['notes']['owner'] ==
                            "every"%}
                            <td class="px-6 py-4 whitespace-nowrap text-center ">
                                <button class=" hover:text-red-100 hover:bg-red-800 font-medium px-8 py-4 inline-flex text-m leading-5 font-semibold rounded-full bg-red-100 text-red-800 {% if not light['current_state'] %} hover:text-red-800 hover:bg-red-100 opacity-50 cursor-not-allowed {%endif%} "
                                        onclick="changeStateOfLight('{{ '/' + light['notes']['owner'] + '/device/' + light['id'] + '/turn_off' }}');">
                                    Turn Off
                                </button>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-center ">
                                <button class=" hover:text-green-100 hover:bg-green-800 font-medium px-8 py-4 inline-flex text-m leading-5 font-semibold rounded-full bg-green-100 text-green-800 {% if light['current_state'] %} hover:text-green-800 hover:bg-green-100 opacity-50 cursor-not-allowed {%endif%} "
                                        onclick="changeStateOfLight('{{ '/' + light['notes']['owner'] + '/device/' + light['id'] + '/turn_on'}}');">
                                    Turn On
                                </button>

                            </td>
                            {%endif%}

                        </tr>
                        {% endfor %}

                        <!-- More people... -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>